.app {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.paper {
  width: 60%;
  max-width: 800px;
}

.container {
  background-color: #fcf2f8;
}

.score-title {
  color: #663e84;
  display: flex;
  justify-content: center;
  font-size: 22px;
  font-weight: 500;
  font: normal;
  padding: 20px;
}

.line1 {
  margin-left: 2%;
  margin-right: 2%;
  background-color: #ac9fa6;
}

.compatibility-score {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 20px;
}

.score {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
}

.input {
  margin-top: -5px;
  width: 40px;
  text-align: center;
  height: 30px;
  font-size: 20px;
  margin-left: 8px;
  border: #ac9fa6;
  background-color: white;
}

.line2 {
  border: none;
  height: 2px;
  background-color: #333;
}

.details {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
}

.detailText {
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: rgb(13, 186, 128);
  font-weight: 400;
  margin: 0px;
  padding-bottom: 10px;
}

.indicator {
  position: fixed;
  top: 327px;
}

.circle {
  width: 30px;
  height: 30px;
  background-color: #553ad3;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.line {
  position: absolute;
  bottom: 10px;
  width: 150px;
  height: 12px;
  background-color: #ea6249;
}